@media print {
  body {
    background: none !important;
  }

  .printable-content > * {
    display: none !important;
  }

  .printable-receipt,
  .printable-receipt > * {
    display: block !important;
    visibility: visible !important;
  }

  .printable-receipt {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
    background: white !important;
  }

  .print-hide {
    display: none !important;
  }
}

.print-only {
  display: none !important;
}
