@media print {
  body {
    background: none !important;
  }

  .print-hide {
    display: none !important;
  }
}

.print-only {
  display: none !important;
}

@media print {
  .print-only {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
