@media print {
  @page {
    size: letter;
    margin: 1.5cm;
  }

  body {
    background-color: #fff;
    font-size: 12pt;
  }

  .print-hide {
    display: none !important;
  }

  body * {
    visibility: hidden;
  }
  
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }

  #printable-receipt {
    position: static;
    display: block;
  }
  
  #printable-receipt > header img:first-child {
    width: 100px;
    height: 100px;
  }
  
  #printable-receipt > header img:last-child {
    width: 125px;
    height: 70px;
  }

  .print-input {
    color: black !important;
    -webkit-print-color-adjust: exact;
  }
  
  .print-input::placeholder {
    color: transparent !important;
  }
}
