@media print {
  body {
    background: none;
  }

  .print-hide {
    display: none !important;
  }
  
  /* Hide everything except the printable area */
  body * {
    visibility: hidden;
  }
  
  #printable-area, #printable-area * {
    visibility: visible;
  }
  
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: none !important;
    box-shadow: none !important;
  }

  /* Set page margins for printing */
  @page {
    margin: 1in;
  }
}
