@media print {
  body {
    background: none !important;
  }

  .print-hide {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
    visibility: visible !important;
  }
}

.print-only {
  display: none !important;
}
