@media print {
  body {
    background: none !important;
  }

  .print-hide {
    display: none !important;
  }

  /* Oculta el bot칩n de cierre 'X' del di치logo de ShadCN */
  .dialog-content > button[aria-label="Close"] {
      display: none !important;
  }

  /* Asegura que el contenido del di치logo no cause overflow en la impresi칩n */
  .dialog-content {
      overflow: visible !important;
  }

  #printable-receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1.5rem;
    box-shadow: none;
    border: none;
    font-size: 14px;
  }
}
