@media print {
  body * {
    visibility: hidden;
  }

  .loan-receipt, .loan-receipt * {
    visibility: visible;
  }

  .loan-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1in;
    border: none;
    box-shadow: none;
  }

  .print-hide {
    display: none !important;
  }
}

.print-only {
  display: none !important;
}

@media print {
  .print-only {
    display: block !important;
  }
}
